.dash-back {
  height: 100vh;
  min-width: 100vw;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.dash-search {
  width: 65%;
  padding: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
}

.search-input {
  width: 65%;
  height: 25px;
}

.search-button {
  height: 25px;
  width: 25px;
  background-color: #ff9770;
}

.dash-reset {
  padding: 5px 10px;
  background-color: #403d39;
  color: white;
}

.my-posts {
  margin-left: 125px;
}

.posts-display {
  width: 65%;
  margin: 15px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);

}

.dash-post {
  height: 75px;
  width: 60vw;
  margin: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
}

.dash-pt {
  font-size: 32px;
}

.dash-author {
  display: flex;
  align-items: flex-end;
}

.dash-pi {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
}